@import "reset.css";
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

html,
body {
  height: 100%;
  width: 100%;
  @apply flex flex-auto;
  @apply bg-zinc-800 text-zinc-100;
  font-family: Consolas, monaco, monospace;
}

a {
  @apply text-emerald-500 hover:text-emerald-600;
}

#app {
  max-height: 100%;
  max-width: 100%;
  font-family: Consolas, monaco, monospace;
  @apply antialiased;
  @apply flex flex-auto;
}

.text-gradient {
  @apply font-bold text-transparent bg-gradient-to-tr bg-clip-text;
}

.n-icon {
  display: inline-flex;
  align-self: center;
  height: initial;
  width: initial;
  line-height: 1em;
  font-size: 1.1em;
}

.icon {
  @apply inline align-middle;
}

.n-popover {
  padding: 2px 6px !important;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-thumb {
  transition: background 0.5s ease-in-out;
  border: 3px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  @apply rounded-md bg-emerald-500;
}
*::-webkit-scrollbar-thumb:hover {
  @apply rounded-md bg-emerald-700;
}
*::-webkit-scrollbar-thumb:window-inactive {
  @apply bg-gray-600;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}
