httpserver
**/*.test
**/*.prof
**/*.db
**/*.db-shm
**/*.db-wal
**/bin
**/*.lock
**/*.txt
**/*.log
**/*.md
**/*.env*
**/.gitapicache
internal/database/ent/**/*.go

# frontend-specific
**/node_modules
**/dist
**/*.d.ts
!**/vue.d.ts
**/.output
**/.data
**/.nuxt
**/.nitro
**/.cache
