liam.sh
*.test
*.prof
*.db
*.db-shm
*.db-wal
bin/*
*.lock
*.txt
*.log
.env
.gitapicache
internal/database/ent

# frontend-specific
**/node_modules
**/dist
**/*.d.ts
!**/vue.d.ts
**/.output
**/.data
**/.nuxt
**/.nitro
**/.cache
