{% extends 'base.html' %}
{% block title %}Github Asset List{% endblock title %}
{% block content %}
<div class="container my-5">
        <h1 class="display-4">Github Asset Releases</h1>
    <div class="list-group">
        {% for key in assetsSorted %}
            <li class="list-group-item list-group-item-action py-1">
                [<a href="{{ assets|field:key }}">full url</a>]
                <a href="/ghr/{{ key|urlencode }}">{{ key }}</a>
            </li>
        {% endfor %}
    </div>
</div>
{% endblock content %}
