{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block header %}
<div class="blog-header-extra">
    <h1 class="blog-title">{% if git.Name != nil %}{{ git.GetName()|split:' '|first }}{% else %}{{ git.GetLogin }}{% endif %}'s Blog</h1>
    <p class="lead blog-description">Where I ramble about things not many care about.</p>
</div>
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-9">
            {% if recent %}
                <h4>Recent Posts</h4>
                <hr>
                {% for post in recent %}
                    <a href="/post/{{post.UID}}">{{ post.Title }}</a>
                    <p class="blog-post-description">{{ post.Summary }}</p>
                    <p class="blog-post-meta">
                        <i class="fa fa-calendar"></i> {{ post.Time|date:'January _2, 2006' }}
                        ({{ post.Time|naturaltime }})
                    </p>

                    {% if not forloop.Last %}<hr>{% endif %}
                {% endfor %}
            {% elif query %}
                <h4>Search results: <code>{{ query}}</code></h4>
                <hr>
                {% if searchPosts %}
                    {% for post in searchPosts %}
                        <a href="/post/{{post.UID}}">{{ post.Title }}</a>
                        <p class="blog-post-description">{{ post.Summary }}</p>
                        <p class="blog-post-meta">
                            <i class="fa fa-calendar"></i> {{ post.Time|date:'January _2, 2006' }}
                            ({{ post.Time|naturaltime }})
                        </p>

                        {% if not forloop.Last %}<hr>{% endif %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-danger">
                        <strong>Uhoh..</strong> No results found matching that query.
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-sm-12 col-lg-3 ml-auto d-none d-md-block">
            <div class="sticky-top blog-sidebar">
                <div class="sidebar-module no-pad">
                    <form method="GET" action="/">
                        <input type="text" class="form-control" name="q" id="query" placeholder="Search for post" value="{{ query }}">
                        <input type="submit" style="position:absolute;left:-9999px;width:1px;height:1px;" tabindex="-1">
                    </form>
                </div>
                <div class="sidebar-module no-pad">
                    <img src="{{ git.GetAvatarURL() }}" class="mx-auto d-block rounded img-fluid">
                </div>
                <div class="sidebar-module no-pad sidebar-github">
                    <div class="pb-3">
                        <span class="full-name">{% if git.Name != nil %}{{ git.GetName() }}{% else %}{{ git.GetLogin }}{% endif %}</span>
                        <span class="user-name">{{ git.GetLogin }}</span>
                    </div>
                    <div class="bio">{{ git.GetBio() }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
