html {
  position: relative;
  min-height: 100%;
  width: 100%;
}

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  height: 100%;
  width: 100%;
  font-family: "Century Gothic", sans-serif;
  color: #555;
  background-color: #f5f8fa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #F5F5F5;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: #383838;
  background-clip: padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #BBBBBB;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

h2 > .anchor, h3 > .anchor, h4 > .anchor {
  font-size: 20px;
  position: relative;
  top: -4px;
  right: 14px;
  margin-right: -17px;
  text-decoration: none;
}

h4 > .anchor {
  top: -2px;
  font-size: 18px;
}

.blog-masthead {
  background-color: #252525;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
  box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

.nav-link {
  position: relative;
  padding: 0.8rem;
  font-weight: 500;
  color: #cdddeb;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

.nav-link.active {
  color: #fff;
}

.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

.blog-header {
  background-color: #333;
  background-image: url(/static/img/bg.png);
  padding-top: 3rem;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}

.blog-header h1, .blog-header h2, .blog-header h3, .blog-header h4, .blog-header h5, .blog-header h6 {
  color: white;
}

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}

.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

.blog-sidebar {
  top: 35px;
}

.sidebar-about {
  background-color: white;
  min-height: 250px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar-about > .pad {
  height: 100px;
  background-image: url(/static/img/avatar-bg.png);

  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.sidebar-about > .about-content {
  padding: 5px;
  margin-top: -40px; /* should be the same as top (+10px) on .sidebar-about>img */
}

.sidebar-about > .about-content p {
  line-height: 80%;
  margin: 10px;
}

.sidebar-about > img {
  background-image: url(https://avatars2.githubusercontent.com/u/1847365?v=3&s=460);
  width: 100px;
  height: 100px;
  top: -50px; /* should be -50% of width/height */
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
}

.sidebar-module {
  padding: 1rem;
}

.content {
  border-radius: .25rem;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar-module p:last-child,
.sidebar-module ul:last-child,
.sidebar-module ol:last-child {
  margin-bottom: 0;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.markdown-body pre {
    white-space: pre-wrap;
    display: block;
    overflow-x: auto;
    font-size: 13px;
}

.markdown-body img {
    max-width: 93%;
    padding: 15px 40px;
}

.markdown-body h1 > .anchor,
.markdown-body h2 > .anchor,
.markdown-body h3 > .anchor,
.markdown-body h4 > .anchor {
  font-size: 20px;
  position: relative;
  margin-left: 0;
  text-decoration: none;
  color: #639fe2;
}

.markdown-body h1 > .anchor:hover,
.markdown-body h2 > .anchor:hover,
.markdown-body h3 > .anchor:hover,
.markdown-body h4 > .anchor:hover {
  color: #0366d6;
}
.markdown-body h1 > .anchor { top: 10px; }
.markdown-body h2 > .anchor { top: 5px; }
.markdown-body h3 > .anchor { top: 2.5px; }
.markdown-body h4 > .anchor { font-size: 18px; }

.flex-trunk {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
