<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="go-import" content="liam.sh/g/{{ pkg }} git https://github.com/lrstanley/{{ pkg }}">
<meta name="go-source" content="liam.sh/g/{{ pkg }} https://github.com/lrstanley/{{ pkg }}/ https://github.com/lrstanley/{{ pkg }}/tree/master{/dir} https://github.com/lrstanley/{{ pkg }}/blob/master{/dir}/{file}#L{line}">
<meta http-equiv="refresh" content="0; url=https://github.com/lrstanley/{{ pkg }}">
</head>
<body>
Nothing to see here; <a href="https://github.com/lrstanley/{{ pkg }}">move along</a>.
</body>
