<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="go-import" content="liam.sh/g/{{ctx.pkg}} git https://github.com/lrstanley/{{ctx.pkg}}">
<meta name="go-source" content="liam.sh/g/{{ctx.pkg}} https://github.com/lrstanley/{{ctx.pkg}}/ https://github.com/lrstanley/{{ctx.pkg}}/tree/master{/dir} https://github.com/lrstanley/{{ctx.pkg}}/blob/master{/dir}/{file}#L{line}">
<meta http-equiv="refresh" content="0; url=https://github.com/lrstanley/{{ctx.pkg}}">
</head>
<body>
Nothing to see here; <a href="https://github.com/lrstanley/{{ctx.pkg}}">move along</a>.
</body>
