{{> _head title=title}}
<div class="blog-masthead">
    <div class="container">
        <nav class="nav blog-nav">
            <a class="nav-link active" href="/"><i class="fa fa-home"></i> Home</a>
            <a class="nav-link" href="https://status.liam.sh/"><i class="fa fa-heartbeat"></i> Service Status</a>
            <a class="nav-link" href="https://github.com/lrstanley"><i class="fa fa-github"></i> Github</a>
            <a class="nav-link" href="https://steamcommunity.com/id/liamraystanley"><i class="fa fa-gamepad"></i> Steam</a>
            <a class="nav-link" href="https://dropb.in/"><i class="fa fa-paste"></i> Dropb.in</a>
            <a class="nav-link" href="https://links.ml/"><i class="fa fa-link"></i> Links.ml</a>
        </nav>
    </div>
</div>

<div class="page md-padding" flex>
